#container {
  margin: 2em;
}

ul {
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

ul li {
  width: 3em; 
}

li.selected {
 color: red;
}
.filter-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-nav li {
  width: auto;
  flex-grow: 1;
  text-align: center; 
}


