body {
  background-color: white;
}

#container {
  margin: 2em;
}

ul {
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

ul li {
  list-style: none;
  display: inline-block;
}

li.selected {
  color: red;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-nav li {
  width: auto;
  flex-grow: 1;
  text-align: center; 
}




.search-movies {
  background: white;
  font-family: calibri;
  padding: 15px;
  border-radius: 10px;
  color: black;
}

.search-movies h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-movies button {
  background-color: #00AAFF;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
  cursor: pointer;
}

.search-movies button a {
  color: black;
  font-weight: bold;
  font-size: 15px;
}


