*{
  text-decoration: none;
}

.navbar {
  background: rgb(0, 0, 0);
  font-family: calibri;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

button {
  background-color: #00AAFF;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  text-decoration: none; 
}

button a {
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

#login-button {
  margin-left: auto; 
}